[submodule "story-backend"]
	path = story-backend
	url = https://github.com/citysciencelab/cut-dana-platform-backend.git
[submodule "addons/dipasAddons/dataNarrator"]
	path = addons/dipasAddons/dataNarrator
	url = https://github.com/citysciencelab/cut-dana-platform-addon.git

