services:
    data-narrator-frontend:
        image: ghcr.io/agriculturedev/cut-dana-platform-mp:staging
        restart: always
        ports:
            - '3000:80'
        networks:
            - story-network

    story-backend:
        image: ghcr.io/agriculturedev/cut-dana-platform-backend:staging
        restart: always
        env_file:
            - ./backend.env
        ports:
            - "4000:8000"
        depends_on:
            - mongo
            - postgres
        networks:
            - story-network

    mongo:
        image: mongo:4.4
        container_name: mongo
        restart: always
        env_file:
            - ./mp.env
        volumes:
            - mongo-data:/data/db
        networks:
            - story-network

    mongo-express:
        image: mongo-express:0.54.0
        restart: always
        env_file:
            - ./mp.env
        ports:
            - '8081:8081'
        depends_on:
            - mongo
        networks:
            - story-network

    postgres:
        image: postgres:16.2
        restart: always
        volumes:
            - postgres_data:/var/lib/postgresql/data
        env_file:
            - ./mp.env
        networks:
            - story-network

volumes:
    mongo-data:
    postgres_data:

networks:
    story-network:

