name: build

on:
    push:
        branches:
            - deploy

  jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code with submodules
              uses: actions/checkout@v6

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Use Node.js 20
              uses: actions/setup-node@v6
              with:
                  node-version: "20

            - name: Run custom-build.sh
              run: ./custom-build.sh
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Call Webhooks for Render Deployment
              run: |
                  IFS=',' read -ra WEBHOOKS <<< "${WEBHOOK_URLS}"
                  for webhook in "${WEBHOOKS[@]}"; do
                  curl -X POST "$webhook"
                  done
              env:
                  WEBHOOK_URLS: ${{ secrets.WEBHOOK_URL }}

