name: Build and release DataNarrator docker image

on:
  push:
    branches: [ master ]
  repository_dispatch:
    types: [ trigger-main-build ]
  workflow_dispatch:

jobs:
  build-and-push-images:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout masterportal code
        uses: actions/checkout@v6

      - name: Checkout addon code
        uses: actions/checkout@v6
        with:
          repository: citysciencelab/cut-dana-platform-addon
          ref: main
          path: addons/dipasAddons/dataNarrator

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/citysciencelab/cut-dana-platform-mp:master
